@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}
.home {
  background-image: repeating-linear-gradient(
      94deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      4deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      4deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 10px
    ),
    repeating-linear-gradient(
      94deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 10px
    ),
    linear-gradient(94deg, rgb(20, 20, 20), rgb(20, 20, 20));
}
.bg02 {
  background-image: linear-gradient(
      135deg,
      transparent 0%,
      transparent 6%,
      rgba(71, 71, 71, 0.04) 6%,
      rgba(71, 71, 71, 0.04) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 20%,
      rgba(71, 71, 71, 0.04) 20%,
      rgba(71, 71, 71, 0.04) 47%,
      transparent 47%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 24%,
      rgba(71, 71, 71, 0.04) 24%,
      rgba(71, 71, 71, 0.04) 62%,
      transparent 62%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 73%,
      rgba(71, 71, 71, 0.04) 73%,
      rgba(71, 71, 71, 0.04) 75%,
      transparent 75%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.custom-button {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
}

.custom-button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
